{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

    <h1>Home Page</h1>

<div class="home-container">

    {% comment %} <div>
        <a href="{% url 'home' %}">Home</a>
    </div> {% endcomment %}

    <div>
        <h3>Browse Topics:</h3>
        <hr>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }}</a>
                <span>({{ topic.room_set.count }})</span>
            </div>
        {% endfor %}
    </div>

    <div>
    <a> Create a new room</a>
    <h5>{{room_count}} set available rooms</h5>
    <hr>
    <a href="{% url 'create-room' %}">Create a new room</a>
    <hr>

    <div>
    {% for room in rooms %}
        <div>
            <span>@{{ room.host.username }}</span>
            <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a></h5>
            <small>{{room.topic.name}}</small>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            <hr>
        </div>
    {% endfor %}



{% endblock %}


